nav {
    background-color: blue;
    height: 5rem;
}

.test {
    background: red;
    height: 20rem;
    width: 2vw;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
}

svg {
    display:block;
    fill: blue;
}

.nav-container {
    background-color: blue;
    z-index: 2;
}

.ikea {
    color: yellow;
    font-size: 6rem;
    text-align: center;
    margin: 0;
}
.banner-pics > img {
    display: inline-block;
    /* position: absolute; */

}

.banner-pics > svg{
    position: absolute;
    z-index: 2;
}