nav {
    background-color: rgb(5, 62, 167);
    height: 5rem;
}

.test {
    background: red;
    height: 20rem;
    width: 2vw;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
}

svg {
    position: absolute;
    fill: rgb(5, 62, 167);
    z-index: 2
}

.nav-container {
    background-color: rgb(5, 62, 167);
    z-index: 2;
}

.ikea {
    color: #e8d44f;
    font-size: 6rem;
    text-align: center;
    margin: 0;
}

.carousel-item > img {
    width: auto;
    height: 40rem;
    /* max-height: 225px; */

}

.banner-pics > svg{
    position: absolute;
    z-index: 2;
}

#myCarousel > a{
    z-index: 3
}

.d-flex {
    background: rgb(5, 62, 167);
}

.tiles > div {
    /* display: block;
    margin: auto; */
    width: 25%;
    height: 200px;
    text-align: center;
    line-height: 150px;
    color: #e8d44f;
}

.lighting {
    width: 25%;
    height: 200px;
}

.d-flex> div > svg {
    display: block;
    margin: auto;
    width: 25%;
    margin-top: -6%;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: rgb(219, 216, 216);

}

h4 {
    color:rgb(219, 216, 216);
}